/* Default All Theme */
html, body {
  color: var(--base-text);
  background: var(--base-back);
}
*, .theme {
  transition: all;
  transition-delay: 0s;
  transition-duration: var(--theme-duration);
}

.theme-none {
  transition: none;
  transition-delay: 0s;
  transition-duration: 0s;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--theme-duration) ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* b5 modal */
.modal-content {
  color: var(--base-navbar-color) !important;
  background: var(--base-navbar-bg) !important;
}
.modal-footer .btn.btn-secondary {
  color: var(--faint-weak) !important;
  background: var(--faint-strong) !important;

}
.modal-footer .btn.btn-primary {
  color: var(--complement-weak-lighter) !important;
  background: var(--complement-strong) !important;
}
.modal-title .btn-close {
  background: transparent;
  color: var(--base-navbar-color) !important;
}