/* Default All Theme */
html, body {
  color: var(--base-text);
  background-color: var(--base-back);
}
.theme {
  transition: all;
  transition-delay: var(--theme-delay);
  transition-duration: var(--theme-duration);
}

/* Base */
/* Faint */
/* Accent */
/* Complement */
/* Critic */
/* Warning */
/* Success */
