.multiselect {
  --ms-font-size: 1rem;
  --ms-line-height: 1.375;
  --ms-bg: var(--base-back);
  --ms-bg-disabled: var(--base-back);
  --ms-border-color: var(--base-weak-darker);
  --ms-border-width: 1px;
  --ms-radius: 4px;
  --ms-py: 0.5rem;
  --ms-px: 0.875rem;
  --ms-ring-width: 3px;
  --ms-ring-color: 0;
  --ms-placeholder-color: var(--faint-weak);
  --ms-max-height: 20em;

  --ms-spinner-color: var(--accent-weak-darker);
  --ms-caret-color: var(--faint-weak);
  --ms-clear-color: var(--faint-weak);
  --ms-clear-color-hover: var(--faint-weak);

  --ms-dropdown-bg: var(--base-back);
  --ms-dropdown-border-color: var(--base-weak-darker);
  --ms-dropdown-border-width: 1px;
  --ms-dropdown-radius: 4px;

  --ms-option-font-size: 1rem;
  --ms-option-line-height: 1.375;
  --ms-option-bg-pointed: var(--accent-weak);
  --ms-option-bg-selected: var(--accent-weak-darker);
  --ms-option-bg-disabled: var(--accent-weak);
  --ms-option-bg-selected-pointed: var(--accent-weak-darker);
  --ms-option-bg-selected-disabled: var(--accent-weak-darker);
  --ms-option-color-pointed: var(--faint-strong);
  --ms-option-color-selected: var(--accent-weak);
  --ms-option-color-disabled: var(--base-weak-darker);
  --ms-option-color-selected-pointed: var(--accent-weak);
  --ms-option-color-selected-disabled: #D1FAE5;
  --ms-option-py: 0.5rem;
  --ms-option-px: 0.75rem;

  --ms-empty-color: var(--faint-weak);
}
.multiselect-search {
  color: var(--faint-weak-lighter) !important;
}
