.app__module_toastr {
  max-width: 80vw;
  min-width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  z-index: 5000;
}

.toastr {
  max-width: 80vw;
  min-width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--base-text-darker);
  background: var(--base-back-lighter);
  width: fit-content;
  height: auto;
  z-index: 5000;
  border: 1px var(--base-back) solid;
  border-radius: 4px;
  transition: all;
  transition-duration: 500ms;
  margin-bottom: 1.5em;
  opacity: 0;
}

.toastr:last-child {
  margin-bottom: 0em;
}

.toastr_visble {
  opacity: 1;
}

.toastr__text {
  padding: 0.5em 1em;
  font-size: large;
  text-align: center;
}

/* Skin */
.toastr__info {
  background: var(--complement-back);
  color: var(--complement-text);
  border: 1px var(--complement-back);
}

.toastr__error {
  background: var(--critic-back);
  color: var(--critic-text);
  border: 1px var(--critic-back);
}

.toastr__warn {
  background: var(--warning-back);
  color: var(--warning-text);
  border: 1px var(--warning-back);
}

.toastr__success {
  background: var(--success-back);
  color: var(--success-text);
  border: 1px var(--success-back);
}